<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/public/style/styleMusic.css" />
    <title>Musiquita</title>
  </head>

  <body>
    <div class="album-cover">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="https://i.pinimg.com/564x/5c/b8/e0/5cb8e054000e8944186ced24cab94fc6.jpg"
            />
            <div class="overlay">
              <a
                href="https://www.youtube.com/watch?v=UtF6Jej8yb4"
                target="_blank"
                ><ion-icon name="logo-youtube"></ion-icon
              ></a>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              src="https://i.pinimg.com/564x/28/ab/8d/28ab8d8d4bcaba58b87670ca12f7738a.jpg"
            />
            <div class="overlay">
              <a
                href="https://www.youtube.com/watch?v=3Pgv7VdNBgE"
                target="_blank"
                ><ion-icon name="logo-youtube"></ion-icon
              ></a>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              src="https://i.pinimg.com/564x/83/59/0a/83590a8fe7c7a9a8cec10b7da5c32e99.jpg"
            />
            <div class="overlay">
              <a
                href="https://www.youtube.com/watch?v=nAIPgTQ3QJ4"
                target="_blank"
                ><ion-icon name="logo-youtube"></ion-icon
              ></a>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              src="https://i.pinimg.com/564x/2e/3a/56/2e3a56f547ff18b35bbb22456aa7c45a.jpg"
            />
            <div class="overlay">
              <a
                href="https://www.youtube.com/watch?v=SdN4PUb-zno"
                target="_blank"
                ><ion-icon name="logo-youtube"></ion-icon
              ></a>
            </div>
          </div>
          <div class="swiper-slide">
            <img
              src="https://i.pinimg.com/564x/b2/1d/8a/b21d8af5721a9786f39c15a1612ae5b8.jpg"
            />
            <div class="overlay">
              <a
                href="https://www.youtube.com/watch?v=67CHHAsM6g4"
                target="_blank"
                ><ion-icon name="logo-youtube"></ion-icon
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="music-player">
      <h1>Title</h1>
      <p>Song Name</p>

      <audio id="song">
        <source src="song-list/Luke-Bergs-Gold.mp3" type="audio/mpeg" />
      </audio>

      <input type="range" value="0" id="progress" />

      <div class="controls">
        <button class="backward">
          <i class="fa-solid fa-backward"></i>
        </button>
        <button class="play-pause-btn">
          <i class="fa-solid fa-play" id="controlIcon"></i>
        </button>
        <button class="forward">
          <i class="fa-solid fa-forward"></i>
        </button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/src/main.js"></script>
  </body>
</html>
